nav ul {
    list-style-type: none;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding:10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #5d5d5d;
}

#intro {
    font-size: 50px;
    text-align: center
}

#chef-image{
    margin-left: 10px;
}

#food-collage{
    width: 40%;
    padding: 10px;
}

body {
    background-color: rgb(241, 210, 161);
}

.custom-btn {
    padding: 5px 10px;
    background-color: #9c52b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #d95ad2;
}

.about-us {
    text-align: center;
}

.pantry_button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 10px 18px;;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

#rod_title{
    text-align: center;
}

#rod_name{
    text-align: center;
}

#rod_image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 35%
}

#ingred_desc{
    text-align: center;
    padding-top: 20px;
}

#recipeInfo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
